.fondo-nav{
    background-color: #aa96da;
}
.fa-bars {
    color: white;
    font-size: 2rem;
  }
.nav-item {
    padding-left:1rem;
    color: white;
}
.nav-link{
    padding: 0.5rem;
    color: white;
}
.nav-link:hover{
    color: #aa96da;
    background-color:#ffffd2;
}
.portada{
    background: #aa96da url('../img/cake_PNG13133.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
}


/* background-color: rgba(106, 44, 112, 0.9); */